<div class="row">
  <div class="span12">
    <div id='landing_logo'><%= image_tag('gitmatch_landing_logo.png') %></div>
    <div id="tagline">Find github developers with similar interests
      <p><a href="/auth/github"><button class="btn btn-large" type="button">
          <%= image_tag('github-logo.png') %>Sign in with <strong>GitHub</strong></button></a></p>
    </div>
  </div>
</div>
